/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  box-sizing: border-box;
  font-size: 16px;
  color: black;
  background-color: #B7C9E2;
  transition: width 0.4s ease-in-out;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #ccc;
  border-radius: 4px;
}

/* Style the top navigation bar */
.navbar {
  overflow: auto;
  background-color: white;
  width: 100%;
}

.navbar a:hover {
  color: black;
  background-color: #ddd;
}

.homeLink {
  margin-left: 5px;
}

.logo{
  width: 140px;
  height: 120px;
  padding: 5px;
}

/* Style the navigation bar links */
.navLink {
  width: calc(100%/7);
  border: none;
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  padding: 20px 10px;
}

.cartLink {
  margin-right: 5px;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.imageSize {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;
}

.cart {
  width: 80px;
  height: 80px;
}

.circle {
  width: 30%; /* Set the width and height to create a circle */
  height: 30%;
  border-radius: 50%; /* Makes the div a circle */
  background-color: #1a53ae; /* Color of the circle */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Color of the number */
  font-size: 16px; /* Size of the number */
  text-decoration: none;
  position: absolute;
  top: 12px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  z-index: 1; /* Ensure the circle stays above the image */
}

.number {
  /* Styling for the number inside the circle */
  color: white;
  text-decoration: none;
}

/* Responsive layout - when the screen is less than 1199px wide */
@media screen and (max-width: 1199px) {
  .homeLink {
    float: none;
    width: 100%;
    display:block;
    text-align: center;
  }

  .logo{
    width: 140px;
    height: 120px;
    padding: 5px;
  }

  .navLink {
    float: none;
    width: 50%;
    display: block;
    text-align: center;
  }

  .searchBox {
    display: none;
  }

  .cartLink {
    float: none;
    width: 100%;
    display:block;
    text-align: center;
  }

  .cart {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 481px) {
  .logo{
    width: 100px;
    height: 80px;
    padding: 5px;
  }

  .navLink {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
  }

  .searchBox {
    width: 48%;
    display: block;
    margin-left: 5px;
  }

  .cartLink {
    float: none;
    width: 48%;
    display:block;
    text-align: center;
  }

  .cart {
    width: 50px;
    height: 50px;
  }
}