.index {
  text-align: center;
  padding: 20px;
  color: white;
}

.HomeRow {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: nowrap; /* IE10 */
  flex-wrap: nowrap;
  width: 100%;
}

.homeSide {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.orderLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.OrderButton {
  background-color: white;
  color: black;
  padding: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: xx-large;
  width: 50%;
}

.OrderButton:hover {
  color: black;
  background-color:rgb(207, 207, 207);
}

.homeMain {   
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.productsRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: left;
}

.homeProductsCell {
  width: 50%;
  max-width: 100%;
  height: auto;
  color: white;
}

.magnify {
  border: none;
  text-decoration: none;
  background-color: transparent;
  width: 100%;
  color: white;
}

.magnify:hover {
  background-color: #858585;
}



/* Responsive layout - when the screen is less than 1199px wide */
@media screen and (max-width: 1199px) {
  .HomeRow {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    width: 100%;
  }

  .homeSide {   
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
  }

  .homeMain {
    margin-top: 5%;
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
  }
}

@media screen and (max-width: 481px) {
  .OrderButton {
    width: 90%;
    font-size: large;
  }

  .homeProductsCell {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}