/* Style the top navigation bar */
.navBar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
  z-index: 999;
}

.homeLink {
  margin-left: 5px;
  width: 7%;
}

.navbar a:hover {
  color: black;
  background-color: #ddd;
}

.logo{
  width: 100%;
  height: auto;
}

/* Style the navigation bar links */
.navLink {
  width: 20%;
  border: none;
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  padding: 20px 10px;
}

.cartLink {
  width: 5%;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.imageSize {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;
}

.cart {
  width: 80px;
  height: 80px;
}

.circle {
  width: 30%; /* Set the width and height to create a circle */
  height: 30%;
  border-radius: 50%; /* Makes the div a circle */
  background-color: #1a53ae; /* Color of the circle */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Color of the number */
  font-size: 16px; /* Size of the number */
  text-decoration: none;
  position: absolute;
  top: 12px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  z-index: 1; /* Ensure the circle stays above the image */
}

.number {
  /* Styling for the number inside the circle */
  color: white;
  text-decoration: none;
}

.searchBox {
  display: flex; /* Allow for potential icon placement next to input */
  border: 1px solid #b6b6b6;
  border-radius: 20px;
  overflow: hidden;
  width: 20%;
}

.searchBox input {
  flex-grow: 1; /* Allow input to fill remaining space */
  border: none; /* Remove default input border */
  padding: 5px 10px; /* Adjust padding as needed */
  background-color: transparent; /* Transparent background */
  font-size: 16px; /* Adjust font size as needed */
}

.searchBox input:focus {
  outline: none; /* Remove default focus outline */
  border: 1px solid black; /* Black border on focus */
  border-radius: 20px;
}

@media screen and (max-width: 1199px) {
  .homeLink {
    float: none;
    width: 100%;
    display:block;
    text-align: center;
  }

  .logo{
    width: 140px;
    height: 120px;
    padding: 5px;
  }

  .navLink {
    float: none;
    width: 50%;
    display: block;
    text-align: center;
  }

  .searchBox {
    display: none;
  }

  .cartLink {
    float: none;
    width: 100%;
    display:block;
    text-align: center;
  }

  .cart {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 481px) {
  .homeLink {
    float: none;
    width: 100%;
    display:block;
    text-align: center;
  }

  .logo{
    width: 100px;
    height: 80px;
    padding: 5px;
  }

  .navLink {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
  }

  .searchBox {
    width: 48%;
    display: block;
    margin-left: 5px;
  }

  .cartLink {
    float: none;
    width: 48%;
    display:block;
    text-align: center;
  }

  .cart {
    width: 50px;
    height: 50px;
  }
}