/.vs
.DS_Store
.idea
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/packages/vite/LICENSE
dist
dist-ssr
explorations
node_modules
playground-temp
temp
TODOs.md
.eslintcache
.env
previousProd
API/src/secrets.php
API/src/prodSecrets.php
API/src/testSecrets.php
API/src/images/
API/src/vendor/