* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color:darkgrey;
}

/* Style the top navigation bar */
.navbar {
  overflow: auto;
  background-color: white;
  width: 100%;
}

/* Style the navigation bar links */
.navLink {
  width: calc(100%/7);
  border: none;
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  padding: 20px 10px;
}

.navbar a:hover {
  color: black;
  background-color: #ddd;
}

.homepageButton {
  background-color: white;
  border: none;
  width: calc(100%/7);
  float: left;
  color: black;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 40px;
}

.homepageButton:hover {
  background-color: #ddd;
  color:black;
}

.productTypes {
  border: none;
  text-decoration: none;
  background-color: transparent;
}

.productTypes:hover {
  background-color: #858585;
}

.cart {
  width: 80px;
  height: 80px;
}

.cartImg {
  width: 80px;
  height: 80px;
}

.cartLink {
  margin-right: 5px;
}

.homeLink {
  margin-left: 5px;
}

.cartButton {
  background-color: white;
  border: none;
  width: calc(100%/15);
  text-decoration: none;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  width: 100%;
}

.HomeRow {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: nowrap; /* IE10 */
  flex-wrap: nowrap;
  width: 100%;
}

.orderRow {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  width: 100%;
}

.cartRow {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: nowrap; /* IE10 */
  flex-wrap: nowrap;
  width: 100%;
}

.cartProductRow {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: nowrap; /* IE10 */
  flex-wrap: nowrap;
  width: 100%;
}

.row h2 {
  color: white;
  text-align: center;
  padding: 50px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.homeSide {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.dashUpload {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
}

.dashUpload h1 {
  text-align: left;
  color: black;
  padding: 0px;
}

.dashUpload button {
  background-color: #4c77af;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  float: left;
}

.dashUpload button:hover {
  background-color: #45a049;
}

.dashName {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  text-align: center;
}

.dashLogOut {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
}

.dashLogOut h3, .dashLogOut p{
  text-align: right;
}

.dashLogOut button {
  background-color: #4c77af;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  float: right;
}

.dashLogOut button:hover {
  background-color: #45a049;
}

.HowItWorks h1{
  color: white;
}

.howItWorksSide {
  -ms-flex: 48%; /* IE10 */
  flex: 48%;
  text-align: left;
  padding-left: 50px;
  border-style: solid;
  border-color: lightgray;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  color: black;
  border-radius: 4px;
  margin: 10px;
}

.howItWorksRight {
  -ms-flex: 48%; /* IE10 */
  flex: 48%;
}

.howItWorksSide h2 {
  text-align: center;
  text-decoration: underline;
  color: black;
}

.howItWorksSide li {
  font-size: xx-large;
}

.ReturnPolicy {
  text-align: center;
  color: white;
}

.policy {
  text-align: left;
  margin: auto;
  width: 40%;
  font-size: x-large;
}

.red {
  color: red;
}

.productSide {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.productSideLeft {
  -ms-flex: 1%; /* IE10 */
  flex: 1%;
}

.productSide h2 {
  color: black;
  padding: 20px;
}

.productsCell h2 {
  margin-left: 10px;
  padding: 20px;
}

.noDisplay {
  border: none;
  text-decoration: none;
  background-color: transparent;
}

.noDisplay:hover {
  color: darkred;
}

.cartSide {
  -ms-flex: 23%; /* IE10 */
  flex: 23%;
  padding-top: 20px;
  text-align: center;
  width: 23%;
  padding: 0px;
  padding-top: 15px;
}

.cartSideItem {
  -ms-flex: 15%; /* IE10 */
  flex: 15%;
  padding: 0px;
  padding-top: 20px;
  text-align: center;
}

.cartSideCheckout {
  -ms-flex: 15%; /* IE10 */
  flex: 15%;
  padding: 0px;
  text-align: center;
}

.cartMain {   
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  text-align: center;
  color: white;
}

.myCartSide {
  -ms-flex: 35%; /* IE10 */
  flex: 35%;
  padding: 0px;
}

.myCartMain {   
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 2vw;
  
}

.myCartMain h1{
  font-size: 2vw;
}

.success {
  color: white;
  text-align: center;
  padding: 50px;
}

.white {
  color: blue;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.orderSide {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  padding-top: 10px;
  text-align: center;
  margin-left: 5%;
}

.orderSide p {
  line-height: 1;
}

/* Main column */
.main {   
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

/* Main column */
.homeMain {   
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

/* Main column */
.orderMain {   
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  padding-top: 20px;
  text-align: center;
}

.logo{
  width: 140px;
  height: 120px;
  padding: 5px;
}

.Products h1 {
  color: white;
  text-align: center;
  padding: 40px;
}

.Products p {
  color: white;
  text-align: center;
  padding:5px;
}

.Products a {
  color: white;
}

.productsTable {
  display: table;
  width: 100%;
}

.productsTableHomepage {
  display: table;
  width: 750px;
  margin-top: 50px;
}

.productsTdHomepage {
  display: table-cell;
  width: 25%;
}

.productsRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: left;
}

.homeProductsRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.productsCell {
  width: 25%;
  max-width: 100%;
  height: auto;
}

.homeProductsCell {
  width: 50%;
  max-width: 100%;
  height: auto;
}

.fullDesign {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

.cartFullDesign {
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
  text-align: center;
}

.homeFullDesign {
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
}

.homeFullDesign p{
  color: white;
}

.orderFullDesign {
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
  text-align: center;
}

.tshirt {
  top: 0%;
  left: 0%;
  position: relative;
  width: 100%;
  height: auto;
}

.design {
  position: absolute;
  top: 22%;
  left: 31.5%;
  width: 35%;
  height: auto;
}

.homeTshirt {
  top: 0px;
  left: 0px;
  position: relative;
  width: 360px;
  height: 360px;
}

.cartTshirt {
  top: 0px;
  left: 0px;
  position: relative;
  width: 440px;
  height: 440px;
}

.orderTshirt {
  top: 0px;
  left: 0px;
  position: relative;
  width: 500px;
  height: 500px;
}

.margin {
  margin-left: 1%;
}

.homeDesign {
  position: absolute;
  top: 81px;
  left: 135px;
  width: 103px;
  height: 103px;
}

.cartDesign {
  position: absolute;
  top: 100px;
  left: 152px;
  width: 125px;
  height: 125px;
}

.orderHeader{
  color: black;
  text-align: center;
}

.orderDesign {
  position: absolute;
  top: 110px;
  left: 170px;
  width: 150px;
  height: 150px;
}

.quantity {
  width: 40px;
}

.fullDesign p {
  color: white;
}

.HowItWorks {
  color: white;
  text-align: center;
  padding:10px;
}

.about {
  color: white;
  text-align: center;
  padding:10px;
}

.orderLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.OrderButton {
  background-color: white;
  color: black;
  padding: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: xx-large;
  width: 50%;
}

.OrderButton:hover {
  color: black;
  background-color:rgb(207, 207, 207);
}

input[type=text] {
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
  color: black;
  background-color: #B7C9E2;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

.container {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.dashboardContainer {
  margin: auto;
  width: 90%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.howContainer {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.container h1 {
  text-align: center;
  color: #3b3b3b;
}

.container h2 {
  text-align: center;
  color: #3b3b3b;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.container button {
  background-color: #4c77af;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.container button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.index {
  text-align: center;
  padding: 20px;
  color: white;

}

.orderProducts {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: white;
}

.orderProducts:hover {
  background-color: #686868;
  border: none;
}

.signUpButton {
  background-color: #4c77af;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  width: 10%;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}

.signUpButton:hover {
  background-color: #45a049;
}

.addToCart {
  background-color: #4c77af;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  width: 400px;
  cursor: pointer;
  margin-left: 15px;
  font-size: xx-large;
  text-decoration: none;
}

.addToCart:hover {
  background-color: #45a049;
}

.ReturnHome {
  background-color: #4c77af;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.ReturnHome:hover {
  color: white;
  background-color: #45a049;
}

.UserAccess p{
  color: #fff;
  text-align: center;
  font-size: large;
}

.incorrectPassword h2 {
  color: red;
  font-size: large;
  text-align: left;
}

.AboutParagraph {
  padding-left: 80px;
  padding-top: 20px;
  text-align: left;
  
}

.AboutParagraph h3 {
  font-size: xx-large;
  line-height: 1.5;
}

.typeOptionRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shirtOptions {
  width: 150px;
  height: 150px;
}

.colorOptions {
  width: 75px;
  height: 75px;
  padding: 5px;
}

.size {
  padding: 5px;
  font-size: x-large;
}

.customDesignButton {
  color: darkblue;
}

.split50 {
  width: 50%;
}

.split50Center {
  width: 50%;
  text-align: center;
}

.customOrderBox textarea {
  width: 70%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.uploadSplit {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  padding-left: 5%;
  font-size: large;
}

input[type="checkbox"]{
  cursor: pointer;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 2vw;
  display: block;
}


.CartPage{
  border-bottom: 5px solid white;
}

.BlackLine{
  border-bottom: 5px solid black;
}

.CheckoutButton {
  background-color: #B7C9E2;
  color: black;
  padding: 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2vw;
  text-align: right;
  padding-left: 95px;
  padding-right: 95px;
  white-space: nowrap;
}

.CheckoutButton:hover {
  background-color: #45a049;
  color: black;
}

.FinalCheckoutButton {
  background-color: #B7C9E2;
  color: black;
  padding: 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2vw;
  text-align: right;
  padding-left: 95px;
  padding-right: 95px;
  white-space: nowrap;
}

.FinalCheckoutButton:hover {
  background-color: #45a049;
  color: black;
}

.PaymentButton {
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: xx-large;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.PaymentButton:hover {
  background-color: #45a049;
  color: black;
}

.ReturnShopping{
  background-color: #B7C9E2;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2vw;
  white-space: nowrap;
}

.ReturnShopping:hover {
  background-color: #45a049;
  color: black;
}

.CartHeader{
  display:inline;
}

.ItemCount{
  color:white;
  text-align: inline;
  font-size: 2vw;
}

.CheckoutButtonPlacement{
  float: right;
  padding-right: 40px;
}

.FinalCheckoutButtonPlacement{
  float: right;
  padding-right: 40px;
}

.PaymentButtonPlacement{
  text-align: center;
  float: center;
}

.RightAlign {
  text-align: right;
}

.RemoveProductButton {
  background-color: #B7C9E2;
  color: black;
  padding: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: large;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

.CartRemoveProductButton {
  background-color: #B7C9E2;
  color: black;
  padding: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

.CartRemoveProductButton:hover {
  background: lightcoral;
}

.center {
  text-align: center;
}

.delete-confirmation {
  position: relative;
}

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation-dialog {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
  text-align: center;
}

.confirmation-dialog h3 {
  margin-top: 0;
}

.confirmation-dialog p {
  margin: 20px 0;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
}

.confirmation-buttons button {
  margin: 0 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button {
  background-color: #ff0000;
  color: #fff;
}

.orderItem-dialog {
  max-height: 100%;
  max-width: 50%;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

.close-button:hover {
  color: darkred;
}

/* Responsive layout - when the screen is less than 1199px wide */
@media screen and (max-width: 1199px) {
  .homeSide {   
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
  }

  .homeMain {
    margin-top: 5%;
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
  }

  .dashUpload {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    text-align: center;
  }

  .dashUpload button {
    float: none;
    width: 100%;
  }
  
  .dashName {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    text-align: center;
  }

  .dashLogOut button {
    float: none;
    width: 100%;
  }
  
  .dashLogOut {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    text-align: center;
  }

  .dashLogOut h3 .dashLogOut p {
    float: none;
    text-align: center;
  }

  .policy {
    width: 60%;
  }
  
  .productsCell {
    width: 50%;
    max-width: 100%;
    height: auto;
  }

  .howItWorksSide {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    text-align: left;
    padding-left: 5%;
    border-style: solid;
    border-color: lightgray;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    color: black;
    border-radius: 4px;
    margin: 0px;
    margin-bottom: 1%;
  }

  .howItWorksSide li{
    font-size: x-large;
  }

  .howItWorksRight {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    width: 100%;
    padding: 0px;
  }
  
  .howItWorksRight .howItWorksSide{
    margin-right: 0px;
  }

  .productsTableHomepage {
    width: 100%;
  }

  .HomeRow {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    width: 100%;
  }

  .container {
    width: 90%;
  }

  .split50 {
    width: 100%;
    padding-right: 0px;
  }

  .split50Center {
    text-align: left;
    width: 100%;
  }

  .cartDesign {
    position: absolute;
    top: 80px;
    left: 125px;
    width: 102px;
    height: 102px;
  }

  .cartTshirt {
    top: 0px;
    left: 0px;
    position: relative;
    width: 360px;
    height: 360px;
  }

  .productSide {
    -ms-flex: 15%; /* IE10 */
    flex: 15%;
    margin: 0px;
  }
  
  .productSide h2 {
    color: black;
    padding: 10px;
    white-space: nowrap;
    text-align: center;
    font-size: large;
  }

  .productsCell {
    text-align: center;
  }

  .productsCell h2 {
    padding: 10px;
    margin: 0px;
  }

  .cartProductRow {
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }

  .cartSide {
    padding: 0px;
  }

  .cartSideItem {
    padding: 0px;
  }

  .cartSideCheckout {
    padding: 0px;
  }

  .CheckoutButtonPlacement {
    float: left;
    padding: 0px;
    width: 100%;
    display: flex;
  }

  .CheckoutButton {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .FinalCheckoutButton {
    width: 100%;
    font-size: large;
  }

  .myCartSide {
    padding: 0px;
  }

  .myCartMain {
    padding-top: 10px;
  }

  .cartImg {
    width: 40px;
    height: 40px;
  }

  .AboutParagraph {
    padding: 0px;
    margin-left: 20px;
  }

  .contactUsImg {
    width: 100%;
    margin-left: 10px;
  }

  .side {
    padding: 0px;
  }

  .navLink {
    float: none;
    width: 50%;
    display: block;
    text-align: center;
  }

  .logo{
    width: 140px;
    height: 120px;
    padding: 5px;
  }

  .cart {
    width: 80px;
    height: 80px;
  }
  
  .cartLink {
    float: none;
    width: 100%;
    display:block;
    text-align: center;
  }

  .searchBox {
    display: none;
  }
  
  .homeLink {
    float: none;
    width: 100%;
    display:block;
    text-align: center;
  }

  .row {   
    flex-direction: column;
    margin: auto;
  }
  .productsTr {
    display: block;
    float: center;
  }
  .productsTd {
    width: 100%;
    display: block;
    padding-left: 0px;
  }
  .productsTh {
    width:100%;
    display: block; 
  }

  .orderTshirt {
    top: 0px;
    left: 0px;
    position: relative;
    width: 400px;
    height: 400px;
  }

  .orderDesign {
    position: absolute;
    top: 90px;
    left: 140px;
    width: 115px;
    height: 115px;
  }

}

@media screen and (max-width: 481px) {
  .homeProductsCell {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .orderSide {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    margin-left: 0%;
  }

  .policy {
    width: 80%;
  }

  .orderTshirt {
    top: 0px;
    left: 0px;
    position: relative;
    width: 300px;
    height: 300px;
  }

  .orderDesign {
    position: absolute;
    top: 70px;
    left: 105px;
    width: 90px;
    height: 90px;
  }

  .howItWorksSide li{
    font-size: large;
  }

  .howItWorksSide h2{
    padding: 25px;
    font-size: large;
  }

  .OrderButton {
    width: 90%;
    font-size: large;
  }

  .productsTableHomepage {
    text-align: left;
  }

  .homeTshirt {
    width: 220px;
    height: 220px;
  }

  .homeDesign {
    position: absolute;
    top: 50px;
    left: 78px;
    width: 63px;
    height: 63px;
  }

  .addToCart {
    padding: 12px 20px;
    width: 90%;
    margin-left: 0px;
  }
  
  .addToCart:hover {
    background-color: #45a049;
  }

  .size {
    padding: 5px;
    font-size: medium;
  }

  .productsCell {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .orderMain {
    width: 100%;
  }

  .FinalCheckoutButtonPlacement {
    padding: 0px;
    margin: auto;
  }

  .cartDesign {
    position: absolute;
    top: 40px;
    left: 65px;
    width: 51px;
    height: 51px;
  }

  .cartTshirt {
    top: 0px;
    left: 0px;
    position: relative;
    width: 180px;
    height: 180px;
  }

  .cartImg {
    width: 30px;
    height: 30px;
  }

  .AboutParagraph {
    padding: 0px;
    text-align: center;
  }

  .contactUsImg {
    margin-left: 0px;
  }

  .MaggieImg {
    width: 100%;
  }

  .navLink {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
  }

  .logo{
    width: 100px;
    height: 80px;
    padding: 5px;
  }

  .cart {
    width: 50px;
    height: 50px;
  }
  
  .cartLink {
    float: none;
    width: 48%;
    display:block;
    text-align: center;
  }

  .searchBox {
    width: 48%;
    display: block;
    margin-left: 5px;
  }
  
  .homeLink {
    float: none;
    width: 100%;
    display:block;
    text-align: center;
  }
}