* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color:darkgrey;
}

.container {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.fullContainer {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.containerRow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.row {  
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
}

.wrapRow {  
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
}

.doubleRow {  
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
}

.noWrapRow {
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
}

.mobileWrapRow {
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.topAlignRow {  
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
}

.topAlignContainerRow {  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}


.center {
  text-align: center;
  align-items: center;
}

.right {
  text-align: right;
  align-items: right;
}

.rightMobileCenter {
  text-align: right;
  align-items: right;
}

.left {
  text-align: left;
  align-items: left;
}

.split25 {
  width: 25%;
}

.split50 {
  width: 50%;
}

.split30 {
  width: 30%;
}

.split70 {
  width: 70%;
}

.split45 {
  width: 45%;
}

.split10 {
  width: 10%;
}

.split20 {
  width: 20%;
}

.split33 {
  width: 33%;
}

.split40 {
  width: 40%;
}

.mobileSplit25 {
  width: 25%;
}

.mobileSplit50 {
  width: 50%;
}

.mobileSplit30 {
  width: 30%;
}

.mobileSplit70 {
  width: 70%;
}

.mobileSplit45 {
  width: 45%;
}

.mobileSplit10 {
  width: 10%;
}

.mobileSplit20 {
  width: 20%;
}

.mobileSplit33 {
  width: 33%;
}

.mobileSplit40 {
  width: 40%;
}

.mobileSplit100 {
  width: 100%;
}

.delete-button {
  background-color: #c70000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
  padding: 10px 0px;
  margin-left: 5%;
  margin-right: 5%;
  transition: color 0.3s ease;
  font-size: 1vw;
  text-decoration: none;
}

.delete-button:hover {
  background-color: #7c0000;
}

.default-button {
  background-color: #4c77af;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  padding: 10px 0px;
  transition: color 0.3s ease;
  font-size: 1.2vw;
  text-decoration: none;
}

.default-button:hover {
  background-color: #385985;
}

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.confirmation-dialog {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
  text-align: center;
}

.confirmation-dialog h3 {
  margin-top: 0;
}

.confirmation-dialog p {
  margin: 20px 0;
}

.enlarge {
  max-height: 100%;
  width: 50%;
  text-align: center;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
}

.alignLeft {
  text-align: left;
}

.default-input {
  box-sizing: border-box;
  font-size: 16px;
  color: black;
  background-color: #B7C9E2;
  transition: width 0.4s ease-in-out;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.default-checkbox {
  flex: 25%;
  font-size: large;
}

.default-checkbox input {
  cursor: pointer;
}

.whiteLine{
  border-bottom: 5px solid white;
}

.blackLine{
  border-bottom: 5px solid black;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

.close-button:hover {
  color: darkred;
}

.default-width {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.noBold {
  font-weight: normal;
}

.transparent-button {
  border: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.transparent-button:hover {
  background-color: #858585;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
  
  .row {   
    flex-direction: column;
    margin: auto;
  }

  .mobileWrapRow {
    flex-wrap: wrap;
  }

  .orderItem-dialog {
    width: 100%;
  }

  .delete-button {
    padding: 5px 0px;
  }
  
  .delete-button:hover {
    background-color: #7c0000;
  }
  
  .default-button {
    padding: 5px 0px;
  }
  
  .default-button:hover {
    background-color: #385985;
  }

  .mobileSplit25 {
    width: 90%;
  }
  
  .mobileSplit50 {
    width: 90%;
  }
  
  .mobileSplit30 {
    width: 90%;
  }
  
  .mobileSplit70 {
    width: 90%;
  }
  
  .mobileSplit45 {
    width: 90%;
  }
  
  .mobileSplit10 {
    width: 90%;
  }

  .mobileSplit20 {
    width: 90%;
  }

  .mobileSplit33 {
    width: 90%;
  }

  .mobileSplit40 {
    width: 90%;
  }

  .mobileSplit100 {
    width: 90%;
  }

  .mobileCenter {
    text-align: center;
    align-items: center;
  }

  .rightMobileCenter {
    text-align: center;
    align-items: center;
  }

}