.fullDesign {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

.fullDesign p {
  color: white;
}

.tshirt {
  top: 0%;
  left: 0%;
  position: relative;
  width: 100%;
  height: auto;
}

.design {
  position: absolute;
  top: 22%;
  left: 31.5%;
  width: 35%;
  height: auto;
}