.deleteProductWidth {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.editProductsContainer {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

@media screen and (max-width: 500px) {
  
}